body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181818;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #87CEEB
    ;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #d0d0d0;
}

.game-status {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.restart-button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #19bdff;
    color: #fff;
    transition: background-color 0.3s;
}

.restart-button:hover {
    background-color: #0072a0;
}
